<h2>OAuth设置</h2>

<msgqueue />

<foreach for="$arrStats" key='sKeyPath' item='arrItemList'>
	<form method="post">
		<label>{=$arrItemList['name']}<input type="checkbox" name="stat3[{=$arrItemList['domain']}]" 
			value="0" /></label><br/>
			<label>appKey:<input type="text" name="stat1[{=$arrItemList['domain']}]" 
			value="{=$arrItemList['appkey']}" /></label><br/>
			<label>appSecret:<input type="text" name="stat2[{=$arrItemList['domain']}]" 
			value="{=$arrItemList['appSecret']}" /></label><br/>
			<input type="submit" value="保存" />
			<br/><br/>
	</form>
</foreach>
