<br />
<br />
<div>
<hr/>
<foreach for="$theModel->childIterator()" item="value">
	<div>
		<if "$value['token']==''">
			<a href="?c=org.opencomb.oauth.auth.AuthorizeRequest&operation=login&service={=$value['service']}">
				绑定<img src="/extensions/oauth/0.1/public/image/{=$value['service']}/login.png" />
			</a>
			帐号
		<else/>
			<a href="?c=org.opencomb.oauth.auth.RemoveBind&id={=$value['suid']}&service={=$value['service']}">
				解除<img src="/extensions/oauth/0.1/public/image/{=$value['service']}/login.png" />
			</a>
			<span title="{=$value['suid']}">{=$value['nickname']}</span>
			帐号绑定
		</if>
		
		<if "$value['service']=='renren.com'">
			<a href="?c=org.opencomb.oauth.auth.RefreshBind&id={=$value['suid']}&service={=$value['service']}">刷新</a>
		</if>
	</div>
	<hr/>
</foreach>
</div>