<ul class="boundto">
<foreach for="$arrServiceModels" key='sService' item="aOUserModel">
	<li>
		<if "!$aOUserModel || $aOUserModel['token']==''">
			<img src="/extensions/oauth/0.1/public/image/{=$sService}/login.png" />
			<em>未绑定</em>
			<a href="?c=org.opencomb.oauth.auth.AuthorizeRequest&operation=login&service={=$sService}" class="addbound">绑定</a>			
		<else/>
			<img src="/extensions/oauth/0.1/public/image/{=$sService}/login.png" />
			<span title="{=$aOUserModel['suid']}">{=$aOUserModel['nickname']}</span>
			<em>已绑定</em>
			<a href="?c=org.opencomb.oauth.auth.RemoveBind&id={=$aOUserModel['suid']}&service={=$sService}" class="movebound">解除	</a>			
		</if>
		<if "$aOUserModel['service']=='renren.com'">
			<a class="ren-refresh" href="?c=org.opencomb.oauth.auth.RefreshBind&id={=$aOUserModel['suid']}&service={=$sService}">刷新</a>
		</if>
	</li>
</foreach>
</ul>