<br />
<br />
<div>
<hr/>
<foreach for="$arrServiceModels" key='sService' item="aOUserModel">
	<div>
		<if "!$aOUserModel || $aOUserModel['token']==''">
			<a href="?c=org.opencomb.oauth.auth.AuthorizeRequest&operation=login&service={=$sService}">
				绑定<img src="/extensions/oauth/0.1/public/image/{=$sService}/login.png" />
			</a>
			帐号
		<else/>
			<a href="?c=org.opencomb.oauth.auth.RemoveBind&id={=$aOUserModel['suid']}&service={=$sService}">
				解除<img src="/extensions/oauth/0.1/public/image/{=$sService}/login.png" />
			</a>
			<span title="{=$aOUserModel['suid']}">{=$aOUserModel['nickname']}</span>
			帐号绑定
		</if>
		
		<if "$aOUserModel['service']=='renren.com'">
			<a href="?c=org.opencomb.oauth.auth.RefreshBind&id={=$aOUserModel['suid']}&service={=$sService}">刷新</a>
		</if>
	</div>
	<hr/>
</foreach>
</div>