.boundto{ width:500px; clear:both; width:100%;}
.boundto li{ line-height:30px; border-bottom:1px dotted #ddd; position:relative;}
.boundto li:hover{ background:#f3f3f3 ; -webkit-transition:background 0.30s linear; -moz-transition:background 0.50s linear;}
.boundto img{margin-left:5px;}
.boundto a{ position:absolute; right:10px; top:5px; line-height:18px;padding:0 8px;  border-radius:4px;}
.boundto a:hover{ text-decoration:none}
a.addbound{border:1px solid #e3e3e3; background:#ececec; color:#999; text-shadow:1px 1px 0 rgba(255,255,255,0.7)}
a:hover.addbound{ background:#e6e6e6;color:#666;-webkit-transition:all 0.30s linear; -moz-transition:all 0.50s linear;}
a.movebound{border:1px solid #472400; background:#4c2600; color:#fff; text-shadow:1px 1px 0 rgba(0,0,0,0.8)}
a:hover.movebound{ background:#3a1e00; color:#eee;-webkit-transition:all 0.30s linear; -moz-transition:all 0.50s linear; }