<div>
	<a href="?c=org.opencomb.oauth.auth.AuthorizeRequest&operation=login&service=t.qq.com" title="使用腾讯微博帐号登录"><img src="{/oauth:image/t.qq.com/login.png}" /></a>
	<a href="?c=org.opencomb.oauth.auth.AuthorizeRequest&operation=login&service=weibo.com" title="使用新浪微博帐号登录"><img src="{/oauth:image/weibo.com/login.png}" /></a>
	<a href="?c=org.opencomb.oauth.auth.AuthorizeRequest&operation=login&service=douban.com" title="使用豆瓣社区登录"><img src="{/oauth:image/douban.com/login.png}" /></a>
	<a href="?c=org.opencomb.oauth.auth.AuthorizeRequest&operation=login&service=renren.com" title="使用人人社区登录">[人人]</a>
	<a href="?c=org.opencomb.oauth.auth.AuthorizeRequest&operation=login&service=sohu.com" title="使用搜狐社区登录">[搜狐]</a>
	<a href="?c=org.opencomb.oauth.auth.AuthorizeRequest&operation=login&service=163.com" title="使用网易社区登录">[网易]</a>
</div>