<lib name='jquery' />
<msgqueue />

<form id='theForm' method='post' action='?c=org.opencomb.oauth.auth.AuthoritionObtaining&a=auth.AuthoritionObtaining::bindExists&service={=$sServiceName}&code={=$sCode}'>

	<if "!empty($sServiceTitle) && $theModel->rowNum() > 0">
	<div>
		警告：已经授权的{=$sServiceTitle}帐号已经绑定到帐号{=$theModel->username}上了，继续下面的操作，将解除和原绑定帐号的绑定
	</div>
	</if>
	
	<if $bAlong>
		<div class="form-state">
			<a href="?c=org.opencomb.oauth.auth.AuthoritionObtaining&a=auth.AuthoritionObtaining::bindAlong&service={=$sServiceName}">将这个{=$sServiceTitle}帐号做为独立的用户</a>
		</div>
	</if>
	
	<div class="form-verify">
		<p>我已经有一个本站的帐号，将这个<span>{=$sServiceName}</span>帐号和我的本站帐号绑定</p>
		<p>用户名： <input name='user' value='{=$sBindUser}' /></p>
		<p>密　码： <input name='password' type="password"/></p>
		<div id="msgqueue"></div>
		<input type="hidden" value="bindExists" name="act"/>
		<input id='btnBindExistsId' class="btnBindExistsId" type="submit" value="绑定帐号" />
	</div>
</form>
<script>
function bindExistsId()
{
	jquery('#btnBindExistsId').attr('disabled','disabled') ;
	jquery('#msgqueue').html('正在绑定帐号......') ;
	
	var data = jquery('#theForm').serializeArray() ;
	
	jquery.ajax({
		url: '?c=org.opencomb.oauth.auth.AuthoritionObtaining&a=auth.AuthoritionObtaining::bindExists&service={=$sServiceName}&code={=$sCode}&rspn=msgqueue'
		, data: data
		, complete: function(jqXHR,textStatus){
			jquery('#btnBindExistsId').attr('disabled',false) ;
			jquery('#msgqueue').html(jqXHR.responseText) ;
		}
		
	}) ;
}
</script>
	